/*date형 input의 아이콘 변경*/
input[type='date']::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  background: url('/src/assets/svg/calender.svg');
}

/*스크롤바*/
.overflow-auto::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.overflow-auto::-webkit-scrollbar-thumb {
  background-color: rgba(130, 130, 130, 0.5);
  border-radius: 5px;
}

.overflow-auto::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
